<!DOCTYPE html>
<html>
  <head>
    <% include partials/head %> 

  </head>
  <body>
    <% include partials/menu %>
<div class="container-fluid bg-3 text-center">    
  <h3 style="background-color:#87C576"><%= page %></h3><br>
  <div class="row">
      <form action='../<%=student._id %>/update' method='POST'>
         
          <input type="text" name='name' placeholder="name" required value='<%=student.name %>'>
          <input type="number" name="regid" placeholder="regid" required value="<%=student.regid%>">
          <input type="submit" value="update student record">

      </form>
      </div>
      </div>
  </body>
  <% include partials/script %>
</html>